.loginPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginPage .loginBox {
    background-color: var(--bg-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 450px;
    border: 2px solid var(--border);
    border-radius: 10px;
}

.loginBox form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 100%;
    margin-top: 50px;
}

.loginBox form * {
    width: 90%;
    margin-bottom: 15px;
}

.loginBox p {
    user-select: none;
    margin: 20px;
    font-size: 3rem;
    font-weight: 250;
}

.loginBox .modeSwitcher {
    user-select: none;
    font-size: 1.3rem;
    margin: 3px;
    text-align: center;
    text-decoration: underline;
    transition: 0.1s;
}

.loginBox .modeSwitcher:hover {
    scale: 1.1;
    color: var(--secondary);
    text-shadow: 1px 1px 10px var(--secondary), 1px 1px 10px var(--secondary);
    ;
}

.loginPage .login {
    filter: drop-shadow(0, 0, 1rem var(--secondary))
}

.loginPage .register {
    filter: drop-shadow(0, 0, 1rem var(--primary))
}
