.adminPage button {
    margin: 5px 10px;
    background-color: var(--bg-light);
    border: 2px solid var(--border);
    padding: 5px;
    border-radius: 10px;
    color: var(--text);
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    flex: 1;
}